.button-list:after {
  display: block;
  content: " ";
  clear: both;
}
.button-list button:nth-child(2n) {
  float: right;
}
.button-list button:nth-child(2n+1) {
  float: left;
}
.button-list button {
  outline: none;
  background: none;
  font-size: 28px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button-list button.disabled {
  outline: none;
  background-color: #AAA;
  color: rgba(112, 76, 182, 0.6);
}

.button-list button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button-list button:active, .button-list .selected {
  background-color: rgba(112, 76, 182, 0.2);
}
