.reasons {
}

.reasons ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.reasons li {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
}

.reasons li.selected {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.reasons label {
  font-weight: bold;
}
.reasons img {
  width: 100%;
  height: 100%;
}
.reasons small {
  color: #636363;
  font-size: 8px;
  text-align: center;
  word-break: break-word;
}
