.enter {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-wrap: anywhere;
  word-break: break-all;
}

.enter.neg span:before {
  content: "-";
}
.enter.pos span:before {
  content: "+";
}
.enter.set .real {
  color: #EEE;
  font-size: 14px;
}
.enter.set .real:before {
  content: "(";
}
.enter.set .real:after {
  content: ")";
}
