.message {
  padding: 0 1em;
  margin: 0.3em;
}

.error {
  background-color: rgba(205, 0, 111, 0.1);
  border: 1px solid rgba(255, 14, 14, 0.1);
}

.info {
  background-color: rgba(0, 177, 180, 0.1);
  border: 1px solid rgba(0, 113, 221, 0.1);
}
