ul.toast {
  position: fixed;
  width: 100vw;
  z-index: 2000;
  background-color: #DDD;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.toast li {
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  padding: 6px;
}
ul.toast li img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  margin: 0 3px;
}
ul.toast li .amount {
  margin: 0 3px;
  padding: 2px 4px;
  border-radius: 8px;
}
ul.toast li em {
  text-transform: lowercase;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
