#guita {
  overflow: hidden;
}

.guita {
  margin: 1em;
}

.guita p {
  text-indent: -1em;
  margin: 0;
}

.neg {
  background-color: #FF4B00;
}
.pos {
  background-color: #6B9A23;
}
.set {
  background-color: #00B1B4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 0 1em;
}

label {
  font-weight: bold;
}

dl {
  padding-left: 1em;
  padding-right: 1em;
}

dl dt {
  font-weight: bold;
  margin-top: 1em;
}

dl dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

kbd {
  border-radius: 8px;
  padding: 2px 4px;
  background-color: #8500DC;
  color: white;
}
