.transacion-screen {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.transacion-list {
  overflow: auto;
}

.transacion-list .selected {
  background-color: #CCC;
}

.transactions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.transactions .header {
  font-size: 12px;
  background-color: #DDD;
  padding: 0.5em 0.5em 0.2em 0.5em;
}

.transactions .transaction {
  display: flex;
}

.transactions .transaction > * {
  padding: 0.3em;
}

.transactions .transaction time {
  flex-grow: 1;
}

.transactions .transaction .amount {
  font-family: 'Courier New', Courier, monospace;
  min-width: 3em;
  text-align: right;
}

.between {
  background-color: #CCC;
}

.between p {
  margin: 0.5em;
  font-size: 10px;
  text-align: center;
}
